<h1 id="Lectures"><span style="text-decoration: underline;">LECTURE</span></h1>

<h2 id="1.-Create-Database">1. <span style="text-decoration: underline;">Create Database</span></h2>
<p>Syntax:</p>
<blockquote>
<p><span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">CREATE</span> <span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">DATABASE</span><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;"> [</span><span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">IF</span> <span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">NOT</span> <span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">EXISTS</span><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;">] database_name </span></p>
<p><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;">[<strong>CHARACTER SET</strong></span><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;"> charset_name] </span></p>
<p><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;">[</span><span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">COLLATE</span><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;"> collation_name]</span></p>
</blockquote>

<h4 id="CHARACTER-SET"><span style="text-decoration: underline;">CHARACTER SET</span></h4>
<p>A MySQL character set is a set of characters that are legal in a string. The default character set is Latin1 or depending on the setup during the installation of MySQL. Let's execute these lines of code to see what is the default character set and collation after creating the <span style="font-size: 12pt;"><strong>test</strong></span>&nbsp;database.</p>

In [ ]:
create database if not exists test;
use test;
select @@character_set_database, @@collation_database;

<h4 id="COLLATION"><span style="text-decoration: underline;">COLLATION</span></h4>
<p>A MySQL collation is a set of rules used to compare characters in a particular character set. Each character set in MySQL can have more than one collation, and has, at least, one default collation. Two character sets cannot have the same collation.</p>

In [1]:
show collation like 'utf8_%';

,Collation,Charset,Id,Default,Compiled,Sortlen,Pad_attribute
0,utf8mb4_0900_ai_ci,utf8mb4,255,Yes,Yes,0,NO PAD
1,utf8mb4_0900_as_ci,utf8mb4,305,,Yes,0,NO PAD
2,utf8mb4_0900_as_cs,utf8mb4,278,,Yes,0,NO PAD
3,utf8mb4_0900_bin,utf8mb4,309,,Yes,1,NO PAD
4,utf8mb4_bin,utf8mb4,46,,Yes,1,PAD SPACE
5,utf8mb4_croatian_ci,utf8mb4,245,,Yes,8,PAD SPACE
6,utf8mb4_cs_0900_ai_ci,utf8mb4,266,,Yes,0,NO PAD
7,utf8mb4_cs_0900_as_cs,utf8mb4,289,,Yes,0,NO PAD
8,utf8mb4_czech_ci,utf8mb4,234,,Yes,8,PAD SPACE
9,utf8mb4_danish_ci,utf8mb4,235,,Yes,8,PAD SPACE
10,utf8mb4_da_0900_ai_ci,utf8mb4,267,,Yes,0,NO PAD
11,utf8mb4_da_0900_as_cs,utf8mb4,290,,Yes,0,NO PAD
12,utf8mb4_de_pb_0900_ai_ci,utf8mb4,256,,Yes,0,NO PAD
13,utf8mb4_de_pb_0900_as_cs,utf8mb4,279,,Yes,0,NO PAD
14,utf8mb4_eo_0900_ai_ci,utf8mb4,273,,Yes,0,NO PAD
15,utf8mb4_eo_0900_as_cs,utf8mb4,296,,Yes,0,NO PAD
16,utf8mb4_esperanto_ci,utf8mb4,241,,Yes,8,PAD SPACE
17,utf8mb4_estonian_ci,utf8mb4,230,,Yes,8,PAD SPACE
18,utf8mb4_es_0900_ai_ci,utf8mb4,263,,Yes,0,NO PAD
19,utf8mb4_es_0900_as_cs,utf8mb4,286,,Yes,0,NO PAD
20,utf8mb4_es_trad_0900_ai_ci,utf8mb4,270,,Yes,0,NO PAD
21,utf8mb4_es_trad_0900_as_cs,utf8mb4,293,,Yes,0,NO PAD
22,utf8mb4_et_0900_ai_ci,utf8mb4,262,,Yes,0,NO PAD
23,utf8mb4_et_0900_as_cs,utf8mb4,285,,Yes,0,NO PAD
24,utf8mb4_general_ci,utf8mb4,45,,Yes,1,PAD SPACE
25,utf8mb4_german2_ci,utf8mb4,244,,Yes,8,PAD SPACE
26,utf8mb4_hr_0900_ai_ci,utf8mb4,275,,Yes,0,NO PAD
27,utf8mb4_hr_0900_as_cs,utf8mb4,298,,Yes,0,NO PAD
28,utf8mb4_hungarian_ci,utf8mb4,242,,Yes,8,PAD SPACE
29,utf8mb4_hu_0900_ai_ci,utf8mb4,274,,Yes,0,NO PAD
30,utf8mb4_hu_0900_as_cs,utf8mb4,297,,Yes,0,NO PAD
31,utf8mb4_icelandic_ci,utf8mb4,225,,Yes,8,PAD SPACE
32,utf8mb4_is_0900_ai_ci,utf8mb4,257,,Yes,0,NO PAD
33,utf8mb4_is_0900_as_cs,utf8mb4,280,,Yes,0,NO PAD
34,utf8mb4_ja_0900_as_cs,utf8mb4,303,,Yes,0,NO PAD
35,utf8mb4_ja_0900_as_cs_ks,utf8mb4,304,,Yes,24,NO PAD
36,utf8mb4_latvian_ci,utf8mb4,226,,Yes,8,PAD SPACE
37,utf8mb4_la_0900_ai_ci,utf8mb4,271,,Yes,0,NO PAD
38,utf8mb4_la_0900_as_cs,utf8mb4,294,,Yes,0,NO PAD
39,utf8mb4_lithuanian_ci,utf8mb4,236,,Yes,8,PAD SPACE
40,utf8mb4_lt_0900_ai_ci,utf8mb4,268,,Yes,0,NO PAD
41,utf8mb4_lt_0900_as_cs,utf8mb4,291,,Yes,0,NO PAD
42,utf8mb4_lv_0900_ai_ci,utf8mb4,258,,Yes,0,NO PAD
43,utf8mb4_lv_0900_as_cs,utf8mb4,281,,Yes,0,NO PAD
44,utf8mb4_persian_ci,utf8mb4,240,,Yes,8,PAD SPACE
45,utf8mb4_pl_0900_ai_ci,utf8mb4,261,,Yes,0,NO PAD
46,utf8mb4_pl_0900_as_cs,utf8mb4,284,,Yes,0,NO PAD
47,utf8mb4_polish_ci,utf8mb4,229,,Yes,8,PAD SPACE
48,utf8mb4_romanian_ci,utf8mb4,227,,Yes,8,PAD SPACE
49,utf8mb4_roman_ci,utf8mb4,239,,Yes,8,PAD SPACE
50,utf8mb4_ro_0900_ai_ci,utf8mb4,259,,Yes,0,NO PAD
51,utf8mb4_ro_0900_as_cs,utf8mb4,282,,Yes,0,NO PAD
52,utf8mb4_ru_0900_ai_ci,utf8mb4,306,,Yes,0,NO PAD
53,utf8mb4_ru_0900_as_cs,utf8mb4,307,,Yes,0,NO PAD
54,utf8mb4_sinhala_ci,utf8mb4,243,,Yes,8,PAD SPACE
55,utf8mb4_sk_0900_ai_ci,utf8mb4,269,,Yes,0,NO PAD
56,utf8mb4_sk_0900_as_cs,utf8mb4,292,,Yes,0,NO PAD
57,utf8mb4_slovak_ci,utf8mb4,237,,Yes,8,PAD SPACE
58,utf8mb4_slovenian_ci,utf8mb4,228,,Yes,8,PAD SPACE
59,utf8mb4_sl_0900_ai_ci,utf8mb4,260,,Yes,0,NO PAD
60,utf8mb4_sl_0900_as_cs,utf8mb4,283,,Yes,0,NO PAD
61,utf8mb4_spanish2_ci,utf8mb4,238,,Yes,8,PAD SPACE
62,utf8mb4_spanish_ci,utf8mb4,231,,Yes,8,PAD SPACE
63,utf8mb4_sv_0900_ai_ci,utf8mb4,264,,Yes,0,NO PAD
64,utf8mb4_sv_0900_as_cs,utf8mb4,287,,Yes,0,NO PAD
65,utf8mb4_swedish_ci,utf8mb4,232,,Yes,8,PAD SPACE
66,utf8mb4_tr_0900_ai_ci,utf8mb4,265,,Yes,0,NO PAD
67,utf8mb4_tr_0900_as_cs,utf8mb4,288,,Yes,0,NO PAD
68,utf8mb4_turkish_ci,utf8mb4,233,,Yes,8,PAD SPACE
69,utf8mb4_unicode_520_ci,utf8mb4,246,,Yes,8,PAD SPACE
70,utf8mb4_unicode_ci,utf8mb4,224,,Yes,8,PAD SPACE
71,utf8mb4_vietnamese_ci,utf8mb4,247,,Yes,8,PAD SPACE
72,utf8mb4_vi_0900_ai_ci,utf8mb4,277,,Yes,0,NO PAD
73,utf8mb4_vi_0900_as_cs,utf8mb4,300,,Yes,0,NO PAD
74,utf8mb4_zh_0900_as_cs,utf8mb4,308,,Yes,0,NO PAD
75,utf8_bin,utf8,83,,Yes,1,PAD SPACE
76,utf8_croatian_ci,utf8,213,,Yes,8,PAD SPACE
77,utf8_czech_ci,utf8,202,,Yes,8,PAD SPACE
78,utf8_danish_ci,utf8,203,,Yes,8,PAD SPACE
79,utf8_esperanto_ci,utf8,209,,Yes,8,PAD SPACE
80,utf8_estonian_ci,utf8,198,,Yes,8,PAD SPACE
81,utf8_general_ci,utf8,33,Yes,Yes,1,PAD SPACE
82,utf8_general_mysql500_ci,utf8,223,,Yes,1,PAD SPACE
83,utf8_german2_ci,utf8,212,,Yes,8,PAD SPACE
84,utf8_hungarian_ci,utf8,210,,Yes,8,PAD SPACE
85,utf8_icelandic_ci,utf8,193,,Yes,8,PAD SPACE
86,utf8_latvian_ci,utf8,194,,Yes,8,PAD SPACE
87,utf8_lithuanian_ci,utf8,204,,Yes,8,PAD SPACE
88,utf8_persian_ci,utf8,208,,Yes,8,PAD SPACE
89,utf8_polish_ci,utf8,197,,Yes,8,PAD SPACE
90,utf8_romanian_ci,utf8,195,,Yes,8,PAD SPACE
91,utf8_roman_ci,utf8,207,,Yes,8,PAD SPACE
92,utf8_sinhala_ci,utf8,211,,Yes,8,PAD SPACE
93,utf8_slovak_ci,utf8,205,,Yes,8,PAD SPACE
94,utf8_slovenian_ci,utf8,196,,Yes,8,PAD SPACE
95,utf8_spanish2_ci,utf8,206,,Yes,8,PAD SPACE
96,utf8_spanish_ci,utf8,199,,Yes,8,PAD SPACE
97,utf8_swedish_ci,utf8,200,,Yes,8,PAD SPACE
98,utf8_tolower_ci,utf8,76,,Yes,1,PAD SPACE
99,utf8_turkish_ci,utf8,201,,Yes,8,PAD SPACE
100,utf8_unicode_520_ci,utf8,214,,Yes,8,PAD SPACE
101,utf8_unicode_ci,utf8,192,,Yes,8,PAD SPACE
102,utf8_vietnamese_ci,utf8,215,,Yes,8,PAD SPACE

<p>Let's create a database and specify a character set and collation.</p>

In [ ]:
drop database if exists test;
create database test character set utf8 collate utf8_unicode_ci;

<h2 id="2.-Create-Table" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;">2. Create Table</h2>
<p>Syntax:</p>
<blockquote>
<p><span style="color: #333333; font-family: monospace , monospace;"><span style="font-size: 14.4px; white-space: pre;"><strong>CREATE TABLE [IF NOT EXISTS] table_name(</strong></span></span></p>
<p><span style="color: #333333; font-family: monospace , monospace;"><span style="font-size: 14.4px; white-space: pre;"><strong>&nbsp; &nbsp;column_1_definition,</strong></span></span></p>
<p><span style="color: #333333; font-family: monospace , monospace;"><span style="font-size: 14.4px; white-space: pre;"><strong>&nbsp; &nbsp;column_2_definition,</strong></span></span></p>
<p><span style="color: #333333; font-family: monospace , monospace;"><span style="font-size: 14.4px; white-space: pre;"><strong>&nbsp; &nbsp;...,</strong></span></span></p>
<p><span style="color: #333333; font-family: monospace , monospace;"><span style="font-size: 14.4px; white-space: pre;"><strong>&nbsp; &nbsp;table_constraints</strong></span></span></p>
<p><span style="color: #333333; font-family: monospace , monospace;"><span style="font-size: 14.4px; white-space: pre;"><strong>) ENGINE=storage_engine;</strong></span></span></p>
</blockquote>

<h4 id="Column-Definition"><span style="text-decoration: underline;"><span style="font-size: 17px;">Column Definition</span></span></h4>
<p>Syntax</p>
<blockquote>
<p>column_name data_type(length) [NOT NULL] [DEFAULT value] [AUTO_INCREMENT] column_constraint;</p>
</blockquote>
<ul style="margin-bottom: 26px; margin-left: 25px; padding: 0px; font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">
<li style="list-style-type: none; margin-left: 10px; margin-bottom: 1rem;"><span data-mce-mark="1">1. The<code><span style="font-size: 10pt;">column</span>_name</code> specifies the name of the column. Each column has a specific <strong>data type</strong> and optional size e.g.,<code>VARCHAR(255)</code>&nbsp;</span></li>
<li style="list-style-type: none; margin-left: 10px; margin-bottom: 1rem;"><span data-mce-mark="1">2.&nbsp;</span>The <code style="font-family: monospace , monospace; font-size: 0.9rem; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;"><a style="transition: all 0.1s ease-in-out 0s;" href="https://www.mysqltutorial.org/mysql-not-null-constraint/" target="_blank" rel="noopener"><span style="font-size: 10pt;">NOT NULL</span></a></code>&nbsp;constraint ensures that the column will not contain&nbsp;<span style="font-size: 10pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">NULL</code></span>.&nbsp;</li>
<li style="list-style-type: none; margin-left: 10px; margin-bottom: 1rem;">3.&nbsp;The&nbsp;<span style="font-size: 10pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">DEFAULT</code></span>&nbsp;specifies a default value for the column.</li>
<li style="list-style-type: none; margin-left: 10px; margin-bottom: 1rem;">4.&nbsp;The&nbsp;<span style="font-size: 10pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;"><a style="transition: all 0.1s ease-in-out 0s;" href="https://www.mysqltutorial.org/mysql-sequence/" target="_blank" rel="noopener">AUTO_INCREMENT</a></code></span> &nbsp;indicates that the value of the column is incremented by one automatically whenever a new row is <strong>inserted</strong> into the table. Each table has a maximum one&nbsp;<span style="font-size: 10pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">AUTO_INCREMENT</code></span> column.</li>
<li style="list-style-type: none; margin-left: 10px; margin-bottom: 1rem;">5. After the column list, you can define table constraints such as UNIQUE, CHECK, PRIMARY KEY, and FOREIGN KEY<span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">.</span></li>
</ul>

<h4><strong><span style="text-decoration: underline;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Storage Engine</span></span></strong></h4>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">You can optionally specify the&nbsp;<strong>storage engine</strong></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;for the table in the engine</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;clause. You can use any storage engine such as InnoDB and MyISAM. If you don&rsquo;t explicitly declare a storage engine, MySQL will use InnoDB by default.</span></p>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">InnoDB became the default storage engine since MySQL version 5.5. The InnoDB storage engine brings many benefits of a relational database management system such as ACID transaction, referential integrity, and crash recovery. In the previous versions, MySQL used MyISAM as the default storage engine.</span></p>

<h4>So, let's put create the table in action...</h4>

In [ ]:
use test;
CREATE TABLE IF NOT EXISTS tasks (id CHAR(36) NOT NULL,name VARCHAR(255) NOT NULL,description TEXT,date_start DATE NULL,date_end DATE NULL,status TINYINT NOT NULL,priority TINYINT NOT NULL,created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,created_by char(36) NULL,PRIMARY KEY (id))  ENGINE=INNODB;

<h2 id="3.-The-classicmodels-database" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;">3. <span style="text-decoration: underline;">The classicmodels database</span></h2>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. Download the mysqlsampledatabase.zip from the github repository. <span style="text-decoration: underline; color: #236fa1;">https://github.com/jonasalberttan/mysql-in-action</span></span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt; color: #000000;">2. Execute the SQL script in DBeaver (mysqlsampledatabase.sql).</span></p>
<p style="padding-left: 40px;">&nbsp;</p>
<p><span style="font-size: 12pt; color: #000000;">From now on, we will be using this database so execute this one liner.</span></p>

In [ ]:
use classicmodels;

<h2 id="4.-Derived-Table" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;">4. <span style="text-decoration: underline;">Derived Table</span></h2>
<p><span style="font-size: 12pt;">The derived table persists only for the duration of the query, in contrast with a temporary table, which exists for the entire session. Later we will learn about the temporary table.</span></p>
<h4 id="Derived-Table-in-Practice">Derived Table in Practice</h4>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. If the query results are only needed once, you might instead use a derived table.</span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">2. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Avoid derived tables.&nbsp; If there is another way to write the query it will be faster in most cases. In many cases, even a separate temporary table will be faster as you can add proper indexes to the table in this case.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. Consider using temporary views instead of a derived table if you really need to use subselect in from clause consider creating a view using it in the query and dropping it after the query was executed.</span></p>

<h4 id="Sample:-Simple-Derived-Table"><span style="text-decoration: underline;">Sample: Simple Derived Table</span></h4>
<p>I have a problem executing the query in multiple lines. Just copy and paste the code in the DBeaver.</p>

In [ ]:
use classicmodels;
select 	a.*
from  	(
		select 1 as id, 'Product A' as name union all
		select 2 as id, 'Product B' as name union all
		select 3 as id, 'Product C' as name
		) as a

<h4 id="Sample:-Complex-Derived-Table"><span style="text-decoration: underline;">Sample: Complex Derived Table</span></h4>
<p><span style="font-size: 14px;">I have a problem executing the query in multiple lines. Just copy and paste the code in the DBeaver.</span></p>

In [ ]:
use classicmodels;
SELECT 
    customerNumber,
    ROUND(SUM(quantityOrdered * priceEach)) sales,
    (CASE
        WHEN SUM(quantityOrdered * priceEach) < 10000 THEN 'Silver'
        WHEN SUM(quantityOrdered * priceEach) BETWEEN 10000 AND 100000 THEN 'Gold'
        WHEN SUM(quantityOrdered * priceEach) > 100000 THEN 'Platinum'
    END) customerGroup
FROM
    orderdetails
        INNER JOIN
    orders USING (orderNumber)
WHERE
    YEAR(shippedDate) = 2003
GROUP BY customerNumber;

<h4 id="Sample:-Derived-Table-Iteration" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; font-weight: bold; line-height: 1; color: #000000; margin: 1em 0px 0px; font-size: 14px;"><span style="text-decoration: underline;">Sample: Derived Table Iteration</span></h4>
<p style="margin-top: 1em; font-size: 14px;">I have a problem executing the query in multiple lines. Just copy and paste the code in the DBeaver.</p>

In [ ]:
use classicmodels;
select 	(1 + i1.i + i2.i + i3.i + i4.i + i5.i + i6.i) ctr
from 	(select 0 as i union select 1) as i1, 
	 	(select 0 as i union select 2) as i2, 
		(select 0 as i union select 4) as i3, 
		(select 0 as i union select 8) as i4, 
		(select 0 as i union select 16) as i5,
		(select 0 as i union select 32) as i6

<h4 id="Use-Case:-Derived-Table-Iteration"><span style="text-decoration: underline;"><strong>Use Case: Derived Table Iteration</strong></span></h4>
<p><span style="font-size: 12pt;">This is very useful in reports generating dates. For example if you have a sales data from this query.</span></p>

In [ ]:
select cast('2021-01-03' as date) as transdate, 155 amount union all
select cast('2021-01-05' as date) as transdate, 174 amount union all
select cast('2021-01-13' as date) as transdate, 380 amount union all
select cast('2021-01-17' as date) as transdate, 235 amount union all
select cast('2021-01-29' as date) as transdate, 715 amount

Some business use cases will look for those missing dates on the report. Dates with no sales should display zero. In order to do that, we need to create a fake data of dates for the month of January.

In [ ]:
select 	date_add('2021-01-01', interval (0 + i1.i + i2.i + i3.i + i4.i + i5.i + i6.i) day) as transdate
from 	(select 0 as i union select 1) as i1, 
	 	(select 0 as i union select 2) as i2, 
		(select 0 as i union select 4) as i3, 
		(select 0 as i union select 8) as i4, 
		(select 0 as i union select 16) as i5,
		(select 0 as i union select 32) as i6

Then we join the fake data of dates to the sales derived table.

In [ ]:
select		dt.transdate, ifnull(sales.amount,0) amount 
from 		(
			select 	date_add('2021-01-01', interval (0 + i1.i + i2.i + i3.i + i4.i + i5.i + i6.i) day) as transdate
			from 	(select 0 as i union select 1) as i1, 
				 	(select 0 as i union select 2) as i2, 
					(select 0 as i union select 4) as i3, 
					(select 0 as i union select 8) as i4, 
					(select 0 as i union select 16) as i5,
					(select 0 as i union select 32) as i6
			) dt
left join	(
			select cast('2021-01-03' as date) as transdate, 155 amount union all
			select cast('2021-01-05' as date) as transdate, 174 amount union all
			select cast('2021-01-13' as date) as transdate, 380 amount union all
			select cast('2021-01-17' as date) as transdate, 235 amount union all
			select cast('2021-01-29' as date) as transdate, 715 amount
			) as sales on sales.transdate=dt.transdate

<h2 id="5.-Sub-Query" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;">5. <span style="text-decoration: underline;">Sub Query</span></h2>
<p><span style="text-decoration: underline;"><a style="background-color: #ffeebb; color: #000000; font-family: 'arial' , 'helvetica' , 'verdana' , sans-serif; font-size: 12.48px;" name="CIHFHJHJ" shape="rect"></a></span></p>
<p style="margin-top: 8px; margin-bottom: 8px;">A MySQL subquery is a query nested within another query such as SELECT, INSERT, UPDATE or DELETE. In addition, a subquery can be nested inside another subquery.</p>
<p style="margin-top: 8px; margin-bottom: 8px;"><span style="font-size: 14px;">I have a problem executing the query in multiple lines. Just copy and paste the code in the DBeaver.</span></p>
<p style="margin-top: 8px; margin-bottom: 8px;"><span style="font-size: 14px;">The <span style="text-decoration: underline;"><strong><span style="color: #e03e2d; text-decoration: underline;"><em>Outer Query</em></span></strong></span> and Inner <span style="text-decoration: underline;"><span style="color: #e03e2d;"><strong>Query (Sub Query)</strong></span></span></span></p>

In [ ]:
select		e.*
from 		employees e 
where 		e.officeCode
	in 		(
			select  o2.officeCode 
			from 	offices o2 
			where	o2.country = 'USA'
			)

<h4><span style="text-decoration: underline;">Where Clause</span></h4>
<p><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">You can use comparison operators e.g., =, &gt;, &lt; to compare a single value returned by the subquery with the expression in the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace, monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea; white-space: normal;"><a style="color: var(--link-color); transition: all 0.1s ease-in-out 0s;" href="https://www.mysqltutorial.org/mysql-where/">WHERE</a></code></span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">&nbsp;clause.</span></p>

In [ ]:
SELECT		 customerNumber
			,checkNumber
			,amount
FROM		payments
WHERE	    amount = (SELECT MAX(amount) FROM payments);

<h4 id="In-and-Not-In-Operators" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;"><span style="text-decoration: underline;">In and Not In Operators</span></h4>
<p><span style="font-family: 'helveticaneue'; font-size: 12pt;">If a subquery returns more than one value, you can use other operators such as IN or NOT IN operation in the WHERE clause. This query will get the customers who have orders.</span></p>

In [ ]:
SELECT  	customerName
FROM		customers
WHERE   	customerNumber 
	NOT IN 	(SELECT customerNumber FROM orders GROUP BY customerNumber);

<h4 id="Exists-and-Not-Exists" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;"><span style="text-decoration: underline;">Exists and Not Exists</span></h4>
<p><span style="font-family: 'helveticaneue'; font-size: 12pt;">When a subquery is used with the EXISTS or NOT EXISTS operator, a subquery returns a boolean.&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">The following query finds sales orders whose total values are greater than 60K.</span></p>

In [ ]:
SELECT    	 orderNumber
    		,SUM(priceEach * quantityOrdered) total
FROM		orderdetails
INNER JOIN  orders USING (orderNumber)
GROUP BY 	orderNumber
HAVING 		SUM(priceEach * quantityOrdered) > 60000;

<h2 id="6.-Triggers"><span style="text-decoration: underline;">6. Triggers</span></h2>
<p><strong><span style="font-size: 12pt;">Advantages</span></strong></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. <span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">Triggers provide another way to check the integrity of data.</span></span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">2. </span></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Triggers handle errors from the database layer.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Triggers give an alternative way to run scheduled task</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">. By using triggers, you don&rsquo;t have to wait for the scheduled events</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">to run because the triggers are invoked automatically</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><em style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">before</em><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">or</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><em style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">after</em><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">a change is made to the data in a table.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">4. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Triggers can be useful for auditing the data changes in tables.</span></p>
<p><strong><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Disadvantages</span></strong></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">1. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Triggers can be difficult to troubleshoot because they execute automatically in the database, which may not invisible to the client applications.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Triggers may increase the overhead of the MySQL Server.</span></p>

<h4><span style="font-size: 12pt;">CREATE TRIGGER</span></h4>
<p><span style="font-size: 12pt;">Syntax</span></p>

In [ ]:
CREATE TRIGGER trigger_name
{BEFORE | AFTER} {INSERT | UPDATE| DELETE }
ON table_name FOR EACH ROW
BEGIN
trigger_body;
END;

<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">First, specify the name of the trigger that you want to create after the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">CREATE TRIGGER</code></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">keywords. Note that the trigger name must be unique within a database.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">2. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Next, specify the trigger action time which can be either&nbsp;</span><code style="font-family: monospace , monospace; font-size: 0.9rem; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">BEFORE</code><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">or</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><code style="font-family: monospace , monospace; font-size: 0.9rem; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">AFTER</code><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">which indicates that the trigger is invoked before or after each row is modified.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Then, specify the operation that activates the trigger, which can be INSERT, UPDATE, or DELETE.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">4. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">After that, specify the name of the table to which the trigger belongs after the ON</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">keyword.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">5. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Finally, specify the statement to execute when the trigger activates. If you want to execute multiple statements, you use the BEGIN END </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">compound statement.</span></p>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">First, we need to create a table employee_audit.</span></p>
<p>&nbsp;</p>

In [ ]:
CREATE TABLE IF NOT EXISTS employees_audit (
    id INT AUTO_INCREMENT PRIMARY KEY,
    employeeNumber INT NOT NULL,
    lastname VARCHAR(50) NOT NULL,
    changedat DATETIME DEFAULT NULL,
    action VARCHAR(50) DEFAULT NULL
);

<p><span style="font-size: 12pt;">Next, create a BEFORE UPDATE trigger that is invoked before a change is made to the employees table.</span></p>

In [ ]:
CREATE TRIGGER before_employee_update 
    BEFORE UPDATE ON employees
    FOR EACH ROW 
 INSERT INTO employees_audit
 SET action = 'update',
     employeeNumber = OLD.employeeNumber,
     lastname = OLD.lastname,
     changedat = NOW();

<p><span style="font-size: 12pt;">Let's check if the triggers works...</span></p>

In [ ]:
-- lets update the employees table
update employees set lastName = 'Murphyy' where employeeNumber=1002
-- then verify the employees_audit table.
select * from employees_audit

<h4>DROP TRIGGER</h4>
<p>Syntax</p>

In [ ]:
DROP TRIGGER [IF EXISTS] [schema_name.]trigger_name;

<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">First, specify the name of the trigger that you want to drop after the DROP TRIGGER</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">keywords.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">2. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Second, specify the name of the schema to which the trigger belongs. If you skip the schema name, the statement will drop the trigger in the current database.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Third, use IF EXISTS</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">option to conditionally drops the trigger if the trigger exists. The IF EXISTS</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">clause is optional.</span></p>
<p style="padding-left: 40px;">&nbsp;</p>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Create a clone of the before_employee_update trigger and drop it afterward.</span></p>

In [ ]:
CREATE TRIGGER before_employee_update_clone
    BEFORE UPDATE ON employees
    FOR EACH ROW 
 INSERT INTO employees_audit
 SET action = 'update',
     employeeNumber = OLD.employeeNumber,
     lastname = OLD.lastname,
     changedat = NOW();

Let's put it on action....

In [ ]:
drop trigger if exists before_employee_update_clone

<h2 id="7.-Views"><span style="text-decoration: underline;">7. Views</span></h2>
<p><span style="font-size: 12pt;">Advantages</span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. Simplify data access.</span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">2. Improves date security.</span></p>
<p><span style="font-size: 12pt;">Disadvantage</span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. Views has no index.</span></p>
<p>&nbsp;</p>

<h4>CREATE VIEW</h4>
<p><span style="font-size: 16px;">Create a customer payment view.</span></p>

In [ ]:
CREATE VIEW vw_customer_payments
AS 
SELECT     	customerName 
		    ,checkNumber 
		    ,paymentDate
		    ,amount
FROM		customers
INNER JOIN	payments 
USING 		(customerNumber);

Let's put it in action....

In [ ]:
select * from vw_customer_payments

<h4 id="DROP-VIEW">DROP VIEW</h4>
<p><span style="font-size: 12pt;">The drop view deletes the view from the database.&nbsp; Assume you have created a clone of the vw_customer_payments view.</span></p>

In [4]:
drop view if exists vw_customer_payments_clone

<h4 id="RENAME-A-VIEW">RENAME A VIEW</h4>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Because views and tables share the same namespace, you can use the RENAME TABLE</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;statement to change the name of a view.</span></p>
<p><span style="font-size: 12pt;">Syntax</span></p>

In [ ]:
RENAME TABLE original_view_name 
TO new_view_name;

<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. <span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">First, specify the name of the view that you want to rename after the RENAME TABLE</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">keywords.</span></span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;"><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">2. </span></span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Then, specify the new name of the view after the TO</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">keyword.</span></p>

<p><span style="font-size: 12pt;">Let's put it in action.</span></p>

In [ ]:
-- rename the customer payment to clone.
RENAME TABLE vw_customer_payments
TO vw_customer_payments_clone;
-- revert it back to original.
RENAME TABLE vw_customer_payments_clone
TO vw_customer_payments;

<h4>UPDATABLE VIEWS</h4>
<p><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Views are not only query-able but also updatable. It means that you can use the&nbsp;</span><a style="background-color: #ffffff; color: var(--link-color); transition: all 0.1s ease-in-out 0s; font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;" href="https://www.mysqltutorial.org/mysql-insert-statement.aspx">INSERT</a><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">&nbsp;or&nbsp;</span><a style="background-color: #ffffff; color: var(--link-color); transition: all 0.1s ease-in-out 0s; font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;" href="https://www.mysqltutorial.org/mysql-update-data.aspx">UPDATE</a><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">&nbsp;statement to insert or&nbsp;update rows of the base&nbsp;table through the updatable view. In addition, you can use&nbsp;</span><a style="background-color: #ffffff; color: var(--link-color); transition: all 0.1s ease-in-out 0s; font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;" href="https://www.mysqltutorial.org/mysql-delete-statement.aspx">DELETE</a><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">&nbsp;statement to remove rows of the underlying table through the view.&nbsp;&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">However, to create an updatable&nbsp;</span><a style="background-color: #ffffff; color: var(--link-color); transition: all 0.1s ease-in-out 0s; font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;" title="Introduction to Database View" href="https://www.mysqltutorial.org/introduction-sql-views.aspx">view</a><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">, the&nbsp;</span><a style="background-color: #ffffff; color: var(--link-color); transition: all 0.1s ease-in-out 0s; font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;" title="MySQL Select" href="https://www.mysqltutorial.org/mysql-select-statement-query-data.aspx">SELECT statement</a><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;"> that defines the view&nbsp;must not contain any of the following elements:</span></p>
<p><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;"><span style="text-decoration: line-through;">AGGREGATE FUNCTIONS</span>, <span style="text-decoration: line-through;">DISTINCT</span>, <span style="text-decoration: line-through;">GROUP BY,</span> <span style="text-decoration: line-through;">HAVING</span>, <span style="text-decoration: line-through;">UNIONS</span>, <span style="text-decoration: line-through;">LEFT JOIN</span> or <span style="text-decoration: line-through;">OUTER JOIN</span>, <span style="text-decoration: line-through;">SUBQUERY in SELECT or WHERE</span>, </span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Reference to non-updatable view in the FROM clause, </span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Reference only to literal values, and&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Multiple references to any column of the base table.</span></p>

<p><span style="font-size: 12pt;">Let's put it in action... Let's create a view and name it vw_office_info</span></p>

In [ ]:
CREATE VIEW vw_office_info
AS 
   SELECT officeCode, phone, city
   FROM offices;

<p><span style="font-size: 12pt;">Then, let's try updating the view....</span></p>

In [ ]:
update vw_office_info set city = 'San Franciscoooo' where officeCode=1

<h4 id="VIEW-WITH-CHECK-OPTION-CLAUSE">VIEW WITH CHECK OPTION CLAUSE</h4>
<p style="margin-bottom: 26px; padding: 0px; font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Sometimes, you create a view to reveal the partial data of a table. However, a simple view is updatable therefore it is possible to udpate&nbsp;data which is not visible through the view. This update&nbsp;makes the view inconsistent. To ensure the consistency of the view, you use the&nbsp;<span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">WITH CHECK OPTION</code></span> clause when you create or modify the view. The&nbsp;<span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">WITH CHECK OPTION</code></span>&nbsp;is an optional clause of the&nbsp;<span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">CREATE VIEW</code></span>&nbsp;statement. The&nbsp;<span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">WITH CHECK OPTION</code></span> prevents a view from updating or inserting rows that are not visible through it. In other words, whenever you update or insert a row of the base tables through a view, MySQL ensures that the insert or update operation is conformed with the definition of the view.</p>
<p style="margin-bottom: 26px; padding: 0px; font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;"><span style="font-size: 12pt;">You just put the&nbsp;</span><span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">WITH</span> <span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">CHECK</span> <span class="hljs-keyword" style="color: #333333; font-weight: bold; font-family: monospace , monospace; font-size: 14.4px; white-space: pre;">OPTION</span><span style="color: #333333; font-family: monospace , monospace; font-size: 14.4px; white-space: pre; background-color: #f8f8f8;">;</span><span style="font-size: 12pt;"> after the select statement of the view.</span></p>

<p><span style="font-size: 12pt;">Let's put it in action... Create a view and name it vw_vp_employees that filters the employee's jobtitle having the word 'VP'.</span></p>

In [ ]:
CREATE OR REPLACE VIEW vw_vp_employees AS
SELECT 	    employeeNumber
		    ,lastname
		    ,firstname
		    ,jobtitle
		    ,extension
		    ,email
		    ,officeCode
		    ,reportsTo
FROM		employees
WHERE	    jobTitle LIKE '%VP%'
WITH CHECK OPTION;

Next, query data from the vw_vp_employees view using the following SELECT statement:

In [ ]:
select * from vw_vp_employees;

<p><span style="font-size: 12pt;">Then, insert a row into the employees table through the vw_vp_employees view.</span></p>

In [ ]:
INSERT INTO vw_vp_employees(employeeNumber,firstName,lastName,jobTitle,extension,email,officeCode,reportsTo) 
SELECT 1703,'Lily','Bush','IT Manager','x9111','lilybush@classicmodelcars.com',1,1002;

<h3>8. STORED FUNCTION</h3>
<p><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">A stored function is a special kind stored program that returns a single value. Typically, you use stored functions to encapsulate common formulas or business rules that are reusable among SQL statements or stored programs.</span></p>

<p><span style="font-size: 12pt;">Let's put it in action...&nbsp;<span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">The following&nbsp;</span><code style="font-family: monospace, monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea; white-space: normal;">CREATE FUNCTION</code><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> statement creates a function that returns the customer level based on credit</span></span></p>

In [ ]:
CREATE FUNCTION fn_customer_level(
	credit DECIMAL(10,2)
) 
RETURNS VARCHAR(20)
DETERMINISTIC
BEGIN
    DECLARE customerLevel VARCHAR(20);

    IF credit > 50000 THEN
		SET customerLevel = 'PLATINUM';
    ELSEIF (credit >= 50000 AND 
			credit <= 10000) THEN
        SET customerLevel = 'GOLD';
    ELSEIF credit < 10000 THEN
        SET customerLevel = 'SILVER';
    END IF;
	-- return the customer level
	RETURN (customerLevel);
END

<p><span style="font-size: 12pt;">Let's check the function created.</span></p>

In [ ]:
SHOW FUNCTION STATUS WHERE db = 'classicmodels';

<p><span style="font-size: 12pt;">Then, we call the function....</span></p>

In [ ]:
SHOW FUNCTION STATUS WHERE db = 'classicmodels';
SELECT 		customerName, creditLimit, fn_customer_level(creditLimit)
FROM    	customers
ORDER BY    customerName;

<h4>DROP FUNCTION</h4>
<p>Syntax</p>

In [ ]:
DROP FUNCTION [IF EXISTS] function_name;

<p><span style="font-size: 12pt;">Let's put it in action...</span></p>

In [ ]:
drop function if exists fn_customer_level;

<h2 id="9.-TRANSACTIONS">9. TRANSACTIONS</h2>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">To understand what a transaction in MySQL is, let&rsquo;s take a look at an example of adding a new sales order</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">. The steps of adding a sales order are as described as follows:</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">1. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">First, query</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">the&nbsp;latest sales order number from the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">orders</code></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">table and use the next sales order number as the new sales order number.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">2. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Next, insert</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">a new sales order into the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">orders</code></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">table.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Then, get the newly inserted sales order number.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">4. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">After that, insert the new sales order items into the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">orderdetails</code></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">table with the sales order number.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">5. </span><span style="font-size: 12pt;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">Finally, select data from both&nbsp;</span><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">orders</code><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">and</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">&nbsp;</span><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">orderdetails</code><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">tables to confirm the changes.</span></span></p>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Now, imagine what would happen to the sales order data if one or more steps above fail?&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">That is why the transaction processing comes to the rescue. MySQL transaction allows you to execute a set of MySQL operations to ensure that the database never contains the result of partial operations. In a set of operations, if one of them fails, the rollback occurs to restore the database to its original state. If no error occurs, the entire set of statements is committed to the database.</span></p>

<p><span style="font-size: 12pt;">Let's put it in action...</span></p>

In [ ]:
-- 1. start a new transaction
START TRANSACTION;

-- 2. Get the latest order number
SELECT @orderNumber:=MAX(orderNUmber)+1 FROM orders;

-- 3. insert a new order for customer 145
INSERT INTO orders(orderNumber, orderDate, requiredDate, shippedDate, status, customerNumber)
VALUES(@orderNumber, '2005-05-31',  '2005-06-10', '2005-06-11', 'In Process', 145);
        
-- 4. Insert order line items
INSERT INTO orderdetails(orderNumber,  productCode, quantityOrdered, priceEach, orderLineNumber)
VALUES(@orderNumber,'S18_1749', 30, '136', 1),
      (@orderNumber,'S18_2248', 50, '55.09', 2); 
      
-- 5. commit changes    
COMMIT;

<h2 id="9.-TEMPORARY-TABLE" style="font-family: 'helvetica neue' , 'helvetica' , 'arial' , sans-serif; color: #000000;">9. TEMPORARY TABLE</h2>
<p><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">A temporary table is a special type of table that allows you to store a temporary result set, which you can reuse several times in a single session.&nbsp;</span></p>
<p><strong><span style="font-size: 14pt;">FEATURES</span></strong></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">MySQL removes the temporary table automatically when the session ends or the connection is terminated. Of course, you can use the&nbsp; DROP TABLE</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">statement to remove a temporary table explicitly when you are no longer use it.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">2. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">A temporary table is only available and accessible to the client that creates it. Different clients can create temporary tables with the same name without causing errors because only the client that creates the temporary table can see it. However, in the same session, two temporary tables cannot share the same name.</span></p>
<p>Syntax</p>

In [ ]:
CREATE TEMPORARY TABLE table_name(
   column_1_definition,
   column_2_definition,
   ...,
   table_constraints
);

<p><span style="font-size: 12pt;">Let's put in action... Create a temporary table and name it tmp_credit that stores customer's credit.</span></p>

In [ ]:
CREATE TEMPORARY TABLE tmp_credits(
    customerNumber INT PRIMARY KEY,
    creditLimit DEC(10,2)
);

<p><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Then, insert rows from the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace, monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea; white-space: normal;">customers</code></span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;"> table into the temporary table tmp_credits</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">:</span></p>

In [ ]:
INSERT INTO tmp_credits(customerNumber,creditLimit)
SELECT customerNumber, creditLimit
FROM customers
WHERE creditLimit > 0;

<h3 id="10.-STORED-PROCEDURE">10. STORED PROCEDURE</h3>
<p><span style="font-size: 12pt;">Advantages</span></p>
<p style="padding-left: 40px;"><span style="font-size: 12pt;">1.&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Stored procedures help reduce the network traffic between applications and MySQL Server. Because instead of sending multiple lengthy SQL statements, applications have to send only the name and parameters of stored procedures.</span></p>
<p style="padding-left: 40px;"><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">2.&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">You can use the stored procedures to implement business logic that is reusable by multiple applications. The stored procedures help reduce the efforts of duplicating the same logic in many applications and make your database more consistent.</span></p>
<p style="padding-left: 40px;"><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">3.&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">The database administrator can grant appropriate privileges to applications that only access specific stored procedures without giving any privileges on the underlying tables.</span></p>
<p><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">Disadvantage</span></p>
<p style="padding-left: 40px;"><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">1. Resource usage.&nbsp;</span><span style="font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: medium;">If you use many stored procedures, the memory usage of every connection will increase substantially.</span></p>
<p>Syntax</p>

In [ ]:
CREATE PROCEDURE procedure_name(parameter_list)
BEGIN
   statements;
END //

<p style="padding-left: 40px;"><span style="font-size: 12pt;">1. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">First, specify the name of the stored procedure that you want to create after the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">CREATE PROCEDURE</code><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">&nbsp;</span></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">keywords.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">2. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Second, specify a list of comma-separated parameters for the stored procedure in parentheses after the procedure name.</span></p>
<p style="padding-left: 40px;"><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">3. </span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">Third, write the code between the&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">BEGIN END</code><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif;">&nbsp;</span></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">block. The above example just has a simple</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;"> SELECT</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">statement. After the</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-size: 12pt;"><code style="font-family: monospace , monospace; margin: 0px; padding-top: 0px; padding-right: 5px; padding-left: 5px; border: none; background-color: #fff6ea;">END</code></span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">&nbsp;</span><span style="font-family: , , 'segoe ui' , 'roboto' , 'oxygen' , 'ubuntu' , 'cantarell' , 'open sans' , 'helvetica neue' , sans-serif; font-size: medium;">keyword, you place the delimiter character to end the procedure statement.</span></p>

<p><span style="font-size: 12pt;">Let's create a stored procedure and name it sp_sales_order. Then, copy the code from the transaction example. Modify some values in the insert statement and put them inside the begin-end block.</span></p>

In [ ]:
CREATE PROCEDURE sp_sales_order()
BEGIN
-- 1. start a new transaction
START TRANSACTION;

-- 2. Get the latest order number
SELECT @orderNumber:=MAX(orderNUmber)+1 FROM orders;

-- 3. insert a new order for customer 145
INSERT INTO orders(orderNumber, orderDate, requiredDate, shippedDate, status, customerNumber)
VALUES(@orderNumber, '2005-05-30',  '2005-06-11', '2005-06-13', 'In Process', 145);
        
-- 4. Insert order line items
INSERT INTO orderdetails(orderNumber,  productCode, quantityOrdered, priceEach, orderLineNumber)
VALUES(@orderNumber,'S18_1749', 30, '121.25', 1),
      (@orderNumber,'S18_2248', 50, '175.10', 2); 
      
-- 5. commit changes    
COMMIT;
END

<p><span style="font-size: 12pt;">Let's put it in action...</span></p>

In [ ]:
call sp_sales_order();

<h1>END OF LECTURE</h1>